body{
  background-color: rgb(148, 145, 145);

}


.AppContainer{
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 2px solid;
   
}

.registerContainer{
  padding: 10px 20px;
  border: 3 px solid ;
  border-radius: 5px;
  margin-top: 20px;
  background-color:#E1DAD2 ;
  
}

.registerTitle{ 
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
  color: #F2EFEB;
  
  
}


.registerInput{
  display: block;
  padding: 7px 0;
  margin: 10px auto;
  background-color: transparent;
  border:none;
  color: white;
  

}

.registerButton{
  padding: 2px 5px;
  border:none;
  background-color: #F2EFEB;
  

}