

.AppContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: none;
   height: 15vh;
   
   }

.registerTitle{ 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F2EFEB;
  font-family: Cambria, arial;
  background-color: cornflowerblue;
  padding: 50pxs;
  height:10vh;
  
}
.registerContainer{
  padding: 50px 20px;
  border: 3 px solid ;
  border-radius: 5px;
  margin-top: 20px;
  background-color: none;

  
}


.registerInput{
  display: flex;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
  outline: unset;
}
.registerInput:focus, textarea:focus{
  background-color:wheat ;

}


.registerButton{

  padding: 7px 65px;
  border: 1px solid;
  border-radius: 20px;
  background-color: cornflowerblue;
  cursor: pointer;
  color: #F2EFEB;

}

.ButtonCadastro {
  padding: 7px 65px;
  border: 1px solid;
  border-radius: 20px;
  background-color: cornflowerblue;
  cursor: pointer;
  color: #F2EFEB;
  
}

.ButtonLista{
  padding: 7px 65px;
  border: 1px solid;
  border-radius: 20px;
  background-color: cornflowerblue;
  cursor: pointer;
  color: #F2EFEB;
  
}


