.itemContainer{
    
width: 150px;
margin: 20px ;
padding: 5px;
cursor: pointer;
color: aliceblue;
border: 1px solid cornflowerblue;
border-radius: 20px;
background-color: cornflowerblue;
}

.itemTitle{
font-family: Cambria, Arial;

}
